html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    background: url('../images/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgba(85, 1, 1, 0.408);
}

.banner {
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 100%;
top: 5.3vh;
left: 9vw;
z-index: -1;

}

.banner .neon {
    padding: 5px;
   margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    font-family: "Archivo Black", "Archivo", sans-serif;
    color: #bb00ff;
    background: rgba(177, 0, 74, 0.668);
    outline: rgb(255, 255, 255);
    font-size: 14px;
    letter-spacing: 12px;
    text-shadow: 0px 1px 5px #4a0049,
    0px 2px 25px #0000007f,
    1px -2px 25px #003618,
    0px 2px 52px #003d44;
}
.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 20px 50px;
    margin-bottom: 10vh;
    left: 35vw;
}

.logo {
    display: flex;
    margin-right: 40%;
    padding: 20px;
    margin: 20px;
    margin-bottom: 20px;
}

.logo img {
    max-width: 200px;
    width: 110px;
    height: auto;
}

.navbar .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 60px;
    font-size: 1.85em;
    justify-content: center;

    text-align: center;
    text-shadow: 0px 1px 1px #000,
                1px 0px 1px #000,
                0px 2px 2px #000,
                0px 5px 10px #000,
                0px -2px 2px #000;
}

.navbar .menu ul {
    list-style: none; 
    display: flex;
    width: 600px;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    gap: 60px;

}

.navbar .menu li { 
    display: flex; 
    position: relative; 
    padding: 15px 0;
  }

.navbar .menu a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  color: white;
  display: flex-block;
   position: relative;
   transition: color 0.3s ease;
}

.navbar .menu a:hover {
    color:#00ff00;
}

.navbar .menu a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: flex;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #fd002e;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navbar .menu a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.navbar .social-icons {
    position: absolute;
    left: 60vw;
    top: 37vh;
    display: flex;
    flex-direction: column;
    gap: 35px;
    z-index: 10;
}
.navbar .social-icons a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    color: rgb(255, 255, 255);
    background: #00244d;
    border: solid 2px magenta;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    transition: color 0.3s ease, background 0.3s ease;
}

.navbar .social-icons a:hover {
    color: rgb(0, 252, 0);
    background: rgb(212, 112, 255);
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 1.1;
    top: 35vh;
    left: 10vw;
    height: 100%;
    width: 100%;
}
.content .title {
    position: relative;
    display: flex;
    
    font-size: 8em;
    left: 0;
    font-weight: 500;
    width: 100%;
    font-family: "Archivo Black", "Archivo", sans-serif;
    color: rgb(0, 0, 0);
     text-shadow: 0px 1px 1px #000000,
    0px -10px 2px rgb(3, 131, 146),
    4px 2px 10px rgb(163, 0, 233),
     2px 0px 1px #000000,
    1px 0px 1px #161616,
    -4px 2px 2px #00f234,
    0px 0px 10px #ffffff,
    0px 10px 20px black;
    
}
.content .subtitle {
    position: relative;
    display: flex;
    width: 100%;
    font-size: 10em;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: "Archivo Black", "Archivo", sans-serif;
    text-shadow: 0px 1px 1px #ffffff,
    1px 0px 1px #ebebeb,
    0px 2px 1px #000000,
    0px -2px 1px #000000,
    0px 5px 5px #0091ff,
    5px 0px 5px #ff0066,
    -5px 0px 5px #ff0000,
    0px 2px 10px #ffffff;
}
.content .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-center;
 
    gap: 30px;
    margin-top: 20px;
    margin: 25px;
    margin-bottom: 50vh;
    margin-right: 65%;
    padding: 25px;
    max-height: 200px;
    height: 200px;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
}
.content .buttons a {
    display:flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    text-align: center;
    padding: 20px 30px;
    margin-left: 130px;
    color: white;
    font-weight: 700;

}
.content .buttons .btn-primary {
    display: flex;
    background-color: #000000;
    color: white;
    border: solid 2.5px white;
    width: 100%;
    height: 75px;
    margin-right: 40px;
    transition: all 0.3s ease;
}

.content .buttons .btn-primary:hover {
    color: rgb(0, 0, 0);
    background: #ffffff;
    border: solid 2.5px black;
}

.content .buttons .btn-secondary {
    display: flex;
    background-color: #ffffff;
    color: black;
    border: solid 2.5px black;
    width: 100%;
    height: 75px;
    margin-left: 40px;
    transition: all 0.3s ease;
}

.content .buttons .btn-secondary:hover {
    color: rgb(255, 255, 255);
    background: #000000;
    border: solid 2.5px white;

}

@keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }