.black {
  background: black;
  color: white;
  mix-blend-mode: multiply;
}
 .white {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  
}

.white:hover,
.white:focus {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  
}

.black:hover,
.black:focus {
  background: white;
  color: black;
  mix-blend-mode: screen;
}

.heading {
  /* Initial position */
  position: relative;
  bottom: 0;
  opacity: 0;
  animation: slideIn 5s ease 3s forwards;
  padding: 5px;
  display: inline;
  flex-wrap: nowrap;
  font-family: sans-serif;
  font-size: 26px;
  width: 100%;
  max-width: 320px;
  height: auto;
  vertical-align: center;
  text-align: center;
  justify-content: center;
  margin: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes slideIn {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
   bottom: 10px;
    opacity: 1;
  }
}