/** Home.css **/

@import url('./normalize.css');
@import url('./responsive.css');
@import url('./fonts.css');

#root {
  --neon-text-color: rgb(251, 0, 0);
  --neon-border-color: rgb(255, 0, 0);
}

html{box-sizing:border-box;}
*,*:before,*:after{box-sizing:inherit;}

body {
    padding:0;
    margin:0;
    width:100%;
    min-height: 100vh;
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.hero {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
    display: flex;
    height: auto;
    width: 500px;
    padding: 10px;
    margin: 10px;
}

.hero-text {
  font-family: 'Neon';
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  margin-top:-10%;
}

@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}