/** Home.css **/

@import url(./normalize.css);
@import url(./responsive.css);
@font-face {
  font-family: 'Neon';
  src: local('Neon'), url('../assets/Neon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-size: 10;
  --neon-text-color: rgb(251, 0, 0);
  --neon-border-color: rgb(255, 0, 0);
}

html{box-sizing:border-box;}
*,*:before,*:after{box-sizing:inherit;}

body {
    padding:0;
    margin:0;
    width:100%;
    min-height: 100vh;
    background-image: url('../assets/bg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.logo {
    display: flex;
    height: auto;
    width: 500px;
    padding: 10px;
    margin: 10px;
}

.hero-text {
  font-family: 'Neon';
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position:relative;
  margin-top:-10%;
}