.nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    width: 33%;
    margin-left: 50vw;
    padding: 2px;
    flex-wrap: nowrap;
    z-index: 1;
}

.nav li {
    padding: 50px;
    margin: 10px;
    justify-content: space-around;
}

.nav a {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 250;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    width: 100%;
    padding: 5px;
    margin: 5px;
    text-shadow: none;
    border: none;
    transition: color 0.3s ease, text-shadow 0.3s ease, border 0.3s ease;
}

.nav a:hover,
a:focus {
    color: black;
    text-shadow: 1px,0px,10px rgba(255, 0, 0, 0.705),
                1px,0px,10px rgba(226, 42, 42, 0.759),
                1px,1px,5px rgba(192, 173, 173, 0.589);
}