/** responsive.css **/

/** Smartphone Screens **/
@media only screen and (max-width: 768px) {
    .logo {
        max-width: 80%;
    }
    .hero-text {
        margin-top: 20px;
        width: 100%;
    }
    h1 {
        max-width: 60%;
        height: auto;
        padding: 2rem;
        margin: 0 auto;
    }
}